body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #333;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* Aumentando o espaço entre as caixas */
}

.form-group {
    margin-bottom: 20px; /* Aumentando o espaço entre as caixas e a borda */
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.col2{
    display: inline-block;
    width: 45%;
    padding: 2
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.checkbox-group label {
    margin-bottom: 0;
}

.checkbox-group label input[type="checkbox"] {
    display: none;
}

.checkbox-group label span {
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.checkbox-group label input[type="checkbox"]:checked + span {
    background-color: #4CAF50;
    color: white;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
