body {
    background-image: url('caminho/para/sua/imagem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fce8e6; /* Cor de fundo mais vibrante */
}

#main {
    width: 960px;
    padding: 10px 20px;
    background: #fff;
    margin: 50px auto; /* Centraliza o conteúdo verticalmente */
    color: black;
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#search-box {
    float: right;
    margin-top: 20px;
}

#search-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#menu {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px;
}

#menu a {
    background: #ff7f0e; /* Cor de fundo laranja */
    color: white;
    text-align: center;
    padding: 14px 20px; /* Aumenta o espaçamento interno
    text-decoration: none;
    border-radius: 20px; /* Borda arredondada */
    margin: 0 10px; /* Espaçamento entre os botões */
    transition: background-color 0.3s ease; /* Transição suave */
}

#menu a:hover {
    background: #ffae42; /* Cor de fundo laranja mais clara ao passar o mouse */
}

.Lista {
    display: flex;
    background-color: #ffa69e; /* Cor de fundo rosa */
    border: 5px solid #ff7f0e; /* Borda laranja */
    border-radius: 10px; /* Borda arredondada */
    margin-top: 20px;
}

.lista-e-conteudo {
    flex-grow: 1;
}

.Lista ul {
    border: 2px solid #ff7f0e; /* Borda laranja */
    background-color: white;
    padding: 40px;
    border-radius: 10px; /* Borda arredondada */
}

.conteudo-adicional {
    width: 300px;
    padding: 0 20px;
    text-align: center;
}

#galeria {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#galeria img {
    margin: 10px;
    transition: transform 0.3s ease;
    border-radius: 10px; /* Borda arredondada */
}

#galeria img:hover {
    transform: scale(1.1);
}
