#main {
    width: 1080px;
    margin: 0 auto;
    padding: 0;
}
.col1 {
    display: inline-block;
    width: 95%;
    padding: 1% 2%;
}
.col2 {
    display: inline-block;
    width: 45%;
    padding: 1% 2%;
}
.col3 {
    display: inline-block;
    width: 31%;
    padding: 1%;
}
.col4 {
    display: inline-block;
    width: 24%;
}
form label, form input, form textarea, form select {
    display: block;
    width: 100%;
}
form input[type="checkbox"],
form input[type="radio"] {
    display: inline;
    width: auto;
}
form input+label {
    display: inline;
    width: auto;
}
.border-form {
    border: 1px solid green;
    background: green;
    color: white;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
#loader .box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -100px;
    width: 350px; /* largura */
    height: 200px; /* altura */
    text-align: center; /* alinhamento horizontal */
    vertical-align: middle; /* alinhamento vertical */
    background: lightgrey; /* fundo */
    border: 2px solid black
    ; /* border */
    font-size: 18px; /* tamanho da letra */
    font-weight: bold; /* negrito */
}
#loader .close {
    position: absolute;
    top: 10px;
    right: 10px;
}
#loader span {
    display: block;
    margin-top: 50px;
}
#loader p {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    padding: 0 10px;
}









