body{
    padding: 0;
    margin: 0 auto;
    width: 1080px;
    background-color: lightgrey;
}

#main {
    background-color: white;
}

#divBusca {
    text-align: right;
}

.col1 {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.col2 {
    display: inline-block;
    width: 49%;
    padding: 0;
    vertical-align: top;
    text-align: right;
}

.menu1-box {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto;
    width: 95%; 
  }
  
  .menu1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu1 li {
    display: inline-block;
    width: 23%; 
    text-align: center;
    border-right: 2px solid #ccc;
  }
  
  .menu1 li:last-child {
    border-right: none; 
  }
  
  .menu1 li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }

  .menu2 {
    border: 2px solid #ccc;
    padding: 10px;
    width: 90px;
}

.ImagemGrande{
    margin: 0 auto;
    width: 95%; 
}
.ImagemGrande img{
    width: 100%;
}

.Logo{
    margin: 0 auto;
    width: 91%; 
}
.Imagem1 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Imagem1 img {
    width: 30%; 
    height: auto; 
}
.Imagem1 p {
    text-align: center;
}

.Imagem2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Imagem2 img {
    width: 30%; 
    height: auto; 
}
.Imagem2 p {
    text-align: center;
}

.Imagem3 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Imagem3 img {
    width: 30%; 
    height: auto; 
}
.Imagem3 p {
    text-align: center;
}

.Imagem4 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.Imagem4 img {
    width: 30%; 
    height: auto; 
}
.Imagem4 p {
    text-align: center;
}

.fourImagens{
    display: inline-block;
    width: 40%; 
    text-align: center;
}

.menu2 ol {
    margin-top: 0;
}